# 0. Initial setup

In [1]:
# import required libraries

import pandas as pd

In [2]:
# make other preferential adjustments

pd.set_option('display.max_rows', 7)
pd.set_option('display.max_columns', None)

In [3]:
# import and display the data

data = pd.read_csv('luxury_watches_clean.csv')
display(data)

,watch_name,type_gender,brand,watch_color,watch_size,length_of_band,price
0,Rolex Datejust Combination Watch (16233),M,rolex,yellow combination,18.0,36.0,7500.0
1,Cartier Benoit Gold Watch,F,cartier,grey,16.0,28.0,7900.0
2,Rolex Milgauss Steel Watch (116400GV),M,rolex,steel,17.0,40.0,9000.0
...,...,...,...,...,...,...,...
3165,Prada Gold Plated Watch,U,prada,brown,18.0,24.0,580.0
3166,Chanel Premier Steel Watch,F,chanel,steel,17.0,18.5,1950.0
3167,Cartier Rotonde Gold Watch (W1556203),M,cartier,brown,19.0,42.0,25500.0

# 1. Diamonds
Create a variable that indicated whether the watch contains ornamental diamonds

In [4]:
# a function that detects whether the string 'diamond' or 'diamonds' is in the watch_name variable

def contains_diamonds(watch_name):
    if ('diamond' in watch_name.lower()) | ('diamonds' in watch_name.lower()):
        return 1
    else:
        return 0

In [5]:
# apply the function and display the results

data['diamonds'] = data['watch_name'].apply(contains_diamonds)
display(data)

,watch_name,type_gender,brand,watch_color,watch_size,length_of_band,price,diamonds
0,Rolex Datejust Combination Watch (16233),M,rolex,yellow combination,18.0,36.0,7500.0,0
1,Cartier Benoit Gold Watch,F,cartier,grey,16.0,28.0,7900.0,0
2,Rolex Milgauss Steel Watch (116400GV),M,rolex,steel,17.0,40.0,9000.0,0
...,...,...,...,...,...,...,...,...
3165,Prada Gold Plated Watch,U,prada,brown,18.0,24.0,580.0,0
3166,Chanel Premier Steel Watch,F,chanel,steel,17.0,18.5,1950.0,0
3167,Cartier Rotonde Gold Watch (W1556203),M,cartier,brown,19.0,42.0,25500.0,0

# 2. Reference number
Create a variable that contains the reference number. Subsequently, remove the reference number from the watch_name variable.

In [6]:
# a function that extracts the reference number from the watch_name variable

def extract_ref(watch_name):
    if ('(' in watch_name) and (')' in watch_name):
        i = watch_name.index('(')
        j = watch_name.index(')')
        return watch_name[i+1:j]
    else:
        return 'missing'

In [7]:
# a function that remove the reference number from the watch_name variable

def remove_ref(watch_name):
    if ('(' in watch_name) and (')' in watch_name):
        i = watch_name.index('(')
        j = watch_name.index(')')
        return watch_name[0:i] + watch_name[j:-1]
    else:
        return watch_name

In [8]:
# apply the functions (sequentially) and display the results

data['ref_num'] =data['watch_name'].apply(extract_ref)
data['watch_name'] = data['watch_name'].apply(remove_ref)
display(data)

,watch_name,type_gender,brand,watch_color,watch_size,length_of_band,price,diamonds,ref_num
0,Rolex Datejust Combination Watch,M,rolex,yellow combination,18.0,36.0,7500.0,0,16233
1,Cartier Benoit Gold Watch,F,cartier,grey,16.0,28.0,7900.0,0,missing
2,Rolex Milgauss Steel Watch,M,rolex,steel,17.0,40.0,9000.0,0,116400GV
...,...,...,...,...,...,...,...,...,...
3165,Prada Gold Plated Watch,U,prada,brown,18.0,24.0,580.0,0,missing
3166,Chanel Premier Steel Watch,F,chanel,steel,17.0,18.5,1950.0,0,missing
3167,Cartier Rotonde Gold Watch,M,cartier,brown,19.0,42.0,25500.0,0,W1556203

# 3. String lenghts

Create variables that return the number of characters in the watch_name, brand and watch_color variables.

In [11]:
# obtain the lengths of the strings

data['name_length'] = data['watch_name'].apply(len)
data['brand_len'] = data['brand'].apply(str_len)
data['col_len'] = data['watch_color'].apply(str_len)

In [12]:
# display the results

display(data)

,watch_name,type_gender,brand,watch_color,watch_size,length_of_band,price,diamonds,ref_num,name_length,brand_len,col_len
0,Rolex Datejust Combination Watch,M,rolex,yellow combination,18.0,36.0,7500.0,0,16233,33,5,18
1,Cartier Benoit Gold Watch,F,cartier,grey,16.0,28.0,7900.0,0,missing,25,7,4
2,Rolex Milgauss Steel Watch,M,rolex,steel,17.0,40.0,9000.0,0,116400GV,27,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
3165,Prada Gold Plated Watch,U,prada,brown,18.0,24.0,580.0,0,missing,23,5,5
3166,Chanel Premier Steel Watch,F,chanel,steel,17.0,18.5,1950.0,0,missing,26,6,5
3167,Cartier Rotonde Gold Watch,M,cartier,brown,19.0,42.0,25500.0,0,W1556203,27,7,5

# 4. Save the final results

In [13]:
# write data to new csv file

data.to_csv('././luxury_watches_with_features.csv')